@model AboutBanner
@if(Model == null)
{
    <a class="btn btn-success mb-4" href="/dashboard/About/Create">Create</a>
}
@if(Model != null)
{
    <table class="table table-bordered table-striped table-dark">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      
    </tr>

    <tr>
        <td>@Model.Id</td>
        <td>@Model.Title</td>
        <td>
            @Model.Description
        </td>
        
        <td>
            <a href="/dashboard/About/Edit/@Model.Id" class="btn btn-outline-warning btn-sm ">Edit</a>
            <a href="/dashboard/About/Detail/@Model.Id" class="btn btn-outline-info btn-sm">Detail</a>
            <a href="/dashboard/About/Delete/@Model.Id" class="btn btn-outline-danger btn-sm">Delete</a>
        </td>
    </tr>
    </table>
}
else
{
    <div class = "alert alert-info">Bazada melumat yoxdur</div>
}
