@model List<Category>

@if (ViewBag.CategoryExist !=null )
{
    <div class = "alert alert-danger">@ViewBag.CategoryExist</div>
}


<form enctype = "multipart/form-data" method="post">
    <div class="container">
        <div class="row">
            <div class="input-group my-2">
                <input name="CategoryName" id="CategoryName" class="form-control" type="text" placeholder="CategoryName" />
            </div>
            <input type="submit" class="btn btn-outline-success" value="Create" />
        </div>
    </div>
</form>