@model Portfolio

@if (ViewBag.CategoryError !=null )
{
    <div class = "alert alert-danger">@ViewBag.CategoryError</div>
}



<h1>Silmek isteyirsinizmi?</h1>
<form method = "post">
    <input type = "hidden" name = "Id" value = "@Model.Id" />
     <input class = "btn btn-outline-danger" type = "submit" value = "Delete" />
</form>

<a href = "/dashboard/category" class = "btn btn-outline-warning">Cancel</a> 