@model List<Portfolio>


<a class="btn btn-success mb-4" href="/dashboard/Portfolio/create">Create</a>
@if (Model != null)
{
    <table class="table table-bordered table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Action</th>

            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <th>@item.Category.CategoryName</th>
                <td>@item.Description</td>

                <td>
                    <img src="~/@item.PhotoURL" width="150" />
                </td>

                <td>
                    <a href="/dashboard/Portfolio/edit/@item.Id" class="btn btn-outline-warning btn-sm ">Edit</a>
                    <a href="/dashboard/Portfolio/detail/@item.Id" class="btn btn-outline-info btn-sm">Detail</a>
                    <a href="/dashboard/Portfolio/delete/@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class = "alert alert-warning">Bazada melumat yoxdur</div>
}







